
.wrap {
	width: 100%;
	overflow: no-repeat;
}
#map-canvas { height: 100% }
ul {
	list-style: none;
}

body {
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('Images/background.jpg');
	background-size: cover;
	background-attachment:fixed;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}


.forgot a {
  text-decoration: none;
  color: #1ab188;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.forgot a:hover {
  color: #179b77;
}

.form {
  background: rgba(19, 35, 47, 0.9);
	overflow: hidden;
  padding: 40px;
  max-width: 600px;
	clear: left;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: #179b77;
  color: #ffffff;
}
.tab-group .active a {
  background: #1ab188;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

.loginHeader {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}

label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
input .req {
  margin: 2px;
  color: #1ab188;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(19, 35, 47, 0.9);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(19, 35, 47, 0.9);
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(19, 35, 47, 0.9);
}
:-moz-placeholder { /* Firefox 18- */
  color: rgba(19, 35, 47, 0.9);
}

label.active {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}

input, textarea {
  font-size: 18px;
  display: block;
  width: 100%;
  padding: 15px 10px;
  background: rgba(255, 255, 255, .8);
  background-image: none;
  border: 1px solid #a0b3b0;
  color: black;
  border-radius: 10px;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}

input:focus, textarea:focus {
  outline: 0;
  border-color: #1ab188;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #179b77;
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}


.errors {
	color: #a0b3b0;
	font-size: 15px;
	font-family: "Courier New";
}



@font-face {
    font-family: Friends;
    src: url(Images/GABRWFFR.TTF);
}

#map {
	height: 700px;
	width: 85%;
	margin: auto;
 }


@viewport {
  zoom: 0.75;
  min-zoom: 0.5;
  max-zoom: 0.9;
}
   
.controls {
	margin-top: 10px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#origin-input, #destination-input {
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 200px;
}

#origin-input:focus, #destination-input:focus {
	border-color: #4d90fe;
}

#mode-selector {
	color: #fff;
	background-color: #4d90fe;
	margin-left: 12px;
	padding: 5px 11px 0px 11px;
}

#mode-selector label {
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
}

* {box-sizing:border-box}
.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  max-width: 800px;
  position: relative;
  margin-left: auto;
	margin-right: auto;
	margin-top: 300px;
	background: black;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

#menuView {
    margin: 250px auto 0px;
    background-color: white;
    height: 1200px;
}

#menuImageContainer {
    float: left;
    height: 1200px;
    width: 700px;
}

#menuTextContainer {
    float: right;
    height: 1200px;
    width: 1144px;
}



fieldset
{
  outline:0px;
  border:0px;
}
legend, .sr-only
{
  position:absolute;
  opacity:0;
}
.bordertop
{
  border-top:1px solid #444;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-moz-selection {
    background: #366284;
    color: white;
}

::selection {
    background: #366284;
    color: white;
}


nav {
    z-index: 99999;
    position: relative;
    height: 15vh;
    line-height: 15vh;
    width: 100%;
    font-size: 1.3em;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    background: rgba(255, 255, 255, .7);
    box-shadow: 0 0 10px #4b4b4b;
    -webkit-transition: .5s;
    transition: .5s;
}

nav img {
    margin-top: 1vh;
}

nav .rest {
    text-align: right;
}

nav:hover {
    background: rgba(255, 255, 255, 1);
}

nav img {
    height: 13vh;
    width: auto;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

nav img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: 0.2s;   
    transition: 0.2s;
}

nav .text-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: wrap row;
    -ms-flex-flow: wrap row;
    flex-flow: wrap row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

nav p {
    display: inline;
    position: relative;
}

nav > div > div > div > div > a {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 0.75em;
    text-transform: uppercase;
    color: #366284;
    text-decoration: none;
    -webkit-transition: .2s;
    transition: .2s;
}

nav > div > div > div > div > a:hover {
    color: #6f6f6f;
}

nav a:hover+ul, nav a+ul:hover {
    opacity: 1;
    visibility: visible;
}

nav ul {
    visibility: hidden;
    position: absolute;
    top: 15vh;
    background: white;
    width: 20%;
    margin-left: -3%;
    z-index: -99999;
    opacity: 0;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    box-shadow: 0 4px 8px #ccc;
}

nav li {
    list-style-type: none;
    text-decoration: none;		
    width: 100%;
    font-size: .8em;
    line-height: normal;
    text-align: left;
    padding: 8%;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

nav a:hover {
	  text-decoration: none;
		color: #a0b3b0;
		    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: 0.2s;   
    transition: 0.2s;
    background: r;
}

nav a {
    text-decoration: none;
    color: #366284;
}

nav i {
	color: #366284;
}

nav .fa {
	
    display: none;
    color: #366284;
    font-size: 7vh;
    margin-top: 3.75vh;
}


@media (max-width: 750px) {
    
    nav .text-menu {
			    text-decoration: none;

        position: absolute;
        top: -85vh;
        left: 0;
        background: white;
        width: 100%;
        height: 85vh;
        text-align: center;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        z-index: -1;
    }
    
    nav .text-menu * {
				text-decoration: none;
        height: 12vh;
    }
    
    nav .menu-appear {
			    text-decoration: none;

        position: absolute;
        top: 15vh;
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }
    
    nav .fa {
        display: block;
    }
    
    nav .six {
			    text-decoration: none;

        width: 48%;
    }
    
    nav .text-menu {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: wrap column;
        -ms-flex-flow: wrap column;
        flex-flow: wrap column;
        position: absolute;
        top: -85vh;
        left: 0;
        background: white;
        width: 100%;
				text-decoration: none;
        height: 85vh;
        text-align: center;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        z-index: -1;
    }
    
    nav .text-menu * {
			    text-decoration: none;

        height: 12vh;
    }
    
    nav .text-menu a:hover+ul {
        display: none;
    }
    
    nav .menu-appear {
        position: absolute;
        top: 15vh;
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }
    
    nav .fa {
        display: block;
    }
}    
    



.row {
    width: 95%;
    margin: 0 auto;
    text-align: center;
}

.quarter, .rest {
    text-align: left;
    line-height: 15vh;
    float:left;
}

.quarter {
    width: 23%;
}

.rest {
    width: 73%;
}


/* menu tabs style */

/* Tabs container */
.r-tabs {
	position: relative;
	margin-top: 30px;
	background-color: #a0b3b0;
	border-top: 1px solid #a0b3b0;
	border-right: 1px solid #a0b3b0;
	border-left: 1px solid #a0b3b0;
	border-bottom: 4px solid #a0b3b0;
	border-radius: 4px;

}

/* Tab element */
.r-tabs .r-tabs-nav .r-tabs-tab {
	position: relative;
	background-color: #a0b3b0;
}

/* Tab anchor */
.r-tabs .r-tabs-nav .r-tabs-anchor {
	display: inline-block;
	padding: 10px 12px;
	text-decoration: none;
	text-shadow: 0 1px rgba(0, 0, 0, 0.4);
	font-size: 14px;
	font-weight: bold;
	color: #fff;
}

/* Disabled tab */
.r-tabs .r-tabs-nav .r-tabs-state-disabled {
	opacity: 0.5;
}

/* Active state tab anchor */
.r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor {
	color: #a0b3b0;
	text-shadow: none;
	background-color: white;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

/* Tab panel */
.r-tabs .r-tabs-panel {
	background-color: white;
	border-bottom: 4px solid white;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

/* Accordion anchor */
.r-tabs .r-tabs-accordion-title .r-tabs-anchor {
	display: block;
	padding: 10px;

	background-color: #a0b3b0;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 1px rgba(0, 0, 0, 0.4);
	font-size: 14px;

	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

/* Active accordion anchor */
.r-tabs .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor {
	background-color: #fff;
	color: #a0b3b0;
	text-shadow: none;
}

/* Disabled accordion button */
.r-tabs .r-tabs-accordion-title.r-tabs-state-disabled {
	opacity: 0.5;
}

/* Buttons */
button {
	display:inline-block;
	margin-top: 10px;
	margin-right: 10px;
	padding: 10px 20px;
	line-height: 100%;

	color: #fff;
	font-size: 14px;
	text-align: center;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	vertical-align: middle;
	font-weight: bold;
	
	border: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #a0b3b0;
	box-shadow: 0px 3px 0px 0px #00ab94;
	
	cursor: pointer;
}

/* Info bar */
.info {
	display:inline-block;
	margin-top: 10px;
	margin-right: 10px;
	padding: 10px 20px;
	width: 300px;
	line-height: 100%;
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	font-size: 14px;
	color: #a0b3b0;
	border: 2px solid #00ab94;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #fff;
	cursor: pointer;
} 



/* menu images */


